
<div class="application-main">

  <!-- blank header due to padding click bug -->
  <div class="application-header">
  </div>
  <div class="site-content">
      <router-outlet></router-outlet>
  </div>

  <div class="application-footer" fxLayoutAlign="end center">
      <span class="language-link" (click)="changeLanguage('de')" [class.active-language]="isoCode === 'de'">DE</span>
      <span class="language-link" (click)="changeLanguage('en')" [class.active-language]="isoCode === 'en'">EN</span>
      <span fxLayoutAlign="center center" class="custom-home" routerLink="/">
      <!-- <i class="custom-icon fa fa-home"></i> -->
        <img class="custom-icon" style=" height: 50px;" src="./assets/svg/house.svg">
        <span class="custom-icon-name">Start</span>
    </span>
  </div>
</div>
