@import '../../common-vars.scss';

img {
  width: 100%;
}

.img-container {
  overflow-y: auto;
  height: 930px;
}

.source-description {
  margin-top: 30px;
  line-height: 30px;
  margin-bottom: 50px;
  font-family: 'nra';
}

.source-description-title {
  font-size: 26px;
  color: $primary-color;
}

.source-description-info {
  font-size: 18px;
  line-height: 23px;
  color: white;
  font-style: italic;
}
